div{
    background-color: rgba(0, 0, 0, 0.498);
    color:orange;
}

img {
    height: 200px;
    width: 200px;
    visibility: hidden;
}
.grid-item {
    border: 5px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 215px;
    border-radius: 15px;
}
/* 
.grid-item:active{
    transform:rotateY(180deg);
    transition:transform 0.8s;
} */
.up img{
    visibility: visible;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 1075px;

}
/* img {

    background: url(loading.gif) 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;
  } */