div{
    background-color: rgba(0, 0, 0, 0.498);
    color:orange;
}

img {
    height: 200px;
    width: 200px;

}
.grid-item {

    border: 5px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 215px;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 1075px;

}
/* .column{
    /* float:left; */
    /* width: 25%;
    padding: 5px;
    grid-template-columns: auto auto auto auto auto; 
    display: grid; 
} */