body {
    background-color:rgba(0,0,0,0.5);
    color:rgb(255, 145, 0);
}
img {
    height: 200px;
    width: 200px;
    visibility: hidden;
    background-color: rgba(255, 145, 0, 0.8);
    border-radius: 25px;
}
.grid-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 200px;
    border-radius: 25px;
}
/* .grid-item:hover{
    transform:rotateY(180deg);
    transition:transform 0.8s;
} */
.up img{
    visibility: visible;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 1000px;
}
.loading{
    background-color: purple;
}
#score-board{
    color: purple;
}